<li>
	{{name}}

	<button class="change-enjoyed" data-id="{{id}}" data-newburger="{{enjoyed}}">
		{{#if enjoyed}}Eat Time!{{else}}Enjoy!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>

