<li>
	{{name}}

	<button class="change-hungry" data-id="{{id}}" data-newburger="{{enjoyed}}">
		{{#if sleep}}Eat the burger!{{else}}Waste a good burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
