<li>
	{{burger_name}}

	<button class="change-enjoyed" data-id="{{id}}" data-newenjoyed="{{enjoy}}">
		 {{#if enjoy}}Eat Time!{{else}}Enjoy!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>

